* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a img {
  border: none;
}

li > a {
  color: #707070;
  text-decoration: none;
}

/* button */
.common-button {
  display: inline-block;
  border: 1px solid #333;
  color: #ffff;
  background: #333;
  padding: 0.75rem 5rem 0.75rem 5rem;
  text-align: center;
  transition: background 0.3s, color 0.3s;
}

.common-button:hover {
  background: #fff;
  color: #333;
}

/* best seller */

/* background */

section.keyvisual {
  background: url(img/common/bg_testimonial.jpg);
}

.top-nav__logo {
  width: 7rem;
}
li.nav-item > a {
  color: #707070;
}

.brand__description {
  color: #707070;
  font-size: 14px;
}

.brand__japan-title,
.best-seller__japan-title,
.guide__japan-title,
.advantages__janpan-title,
.collection__japan-title,
.testimonial__japan-title,
.blog__japan-title,
.community__japan-title {
  color: #c5c5c5;
  font-size: 14px;
  margin: 0 0 6px;
}

.keyvisual__title {
  font-size: 72px;
}
.keyvisual__description {
  font-size: 20px;
  margin: -8px 0 0;
}
.keyvisual {
  padding: 250px 0 250px 0;
}

.brand__english-title,
.best-seller__english-title,
.guide__english-title,
.advantages__english-title,
.collection__english-title,
.testimonial__english-title,
.blog__english-title,
.community__english-title {
  font-size: 27px;
  font-weight: 500;
}

.seller-item__category {
  color: #f4584b;
  font-size: 14px;
  margin: 0 0 5px;
}
.seller-item__name {
  color: #707070;
  font-size: 16px;
  margin: 0 0 3px;
}

.seller-item__old-price {
  color: #c5c5c5;
  font-size: 14px;
  text-decoration: line-through;
}

/* .seller-item {
  display: flex;
} */

.float-img {
  float: left;
  margin-right: -29px; /* add some space between images */
}

.brand {
  padding: 80px 0 205px;
}

section.best-seller {
  background: url(img/common/bg_testimonial.jpg);
}

.guide__content {
  color: #707070;
  font-size: 14px;
  margin: 3rem;
}

.brand__img1 {
  padding-right: 200px;
}

section {
  margin-top: 200px;
  margin-bottom: 200px;
}
section.top-nav {
  margin-top: 20px;
  margin-bottom: 0px;
}

.advantage-item__title {
  color: #333;
  font-size: 18px;
  margin: 40px 0 15px 0;
  font-weight: 700;
}

.advantage-item__description {
  color: #707070;
  font-size: 14px;
}