*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "Hiragino Mincho Pro", "Times New Roman", "游明朝", YuMincho, "メイリオ",
    Meiryo, Georgia, serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

li {
  list-style: none;
}

a img {
  border: none;
}

li > a {
  color: #707070;
  text-decoration: none;
}

/* button */
.common-button {
  display: inline-block;
  border: 1px solid #333;
  color: #ffff;
  background: #333;
  padding: 0.75rem 5rem 0.75rem 5rem;
  text-align: center;
  transition: background 0.3s, color 0.3s;
}

.common-button:hover {
  background: #fff;
  color: #333;
}

/* best seller */

.copyright__logo,
.top-nav__logo {
  width: 7rem;
}
li.nav-item > a {
  color: #707070;
}

.brand__description {
  color: #707070;
  font-size: 14px;
}

.brand__japan-title,
.best-seller__japan-title,
.guide__japan-title,
.advantages__janpan-title,
.collection__japan-title,
.testimonial__japan-title,
.blog__japan-title,
.community__japan-title {
  color: #c5c5c5;
  font-size: 14px;
  margin: 0 0 6px;
}

.brand__english-title,
.best-seller__english-title,
.guide__english-title,
.advantages__english-title,
.collection__english-title,
.testimonial__english-title,
.blog__english-title,
.community__english-title {
  font-size: 27px;
  font-weight: 500;
}

.keyvisual__title {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.keyvisual__description {
  font-size: 20px;
  margin: -8px 70px 40px;
}
.keyvisual {
  padding: 250px 0 250px 0;
}
.keyvisual__button {
  margin-left: 100px;
}

.blog-item__category,
.collection-item__category,
.seller-item__category {
  color: #f4584b;
  font-size: 14px;
  margin: 0 0 5px;
}
.collection-item__name,
.seller-item__name {
  color: #707070;
  font-size: 16px;
  margin: 0 0 3px;
}
.collection-item__old-price,
.seller-item__old-price {
  color: #c5c5c5;
  font-size: 14px;
  text-decoration: line-through;
}

section.top-nav {
  font-family: 'Times New Roman', Times, serif;
}

section.brand {
  padding: 60px 0 200px;
}

header {
  background: url(img/common/bg_keyvisual.jpg) no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding-bottom: 90px;
}

section.best-seller {
  background: url(img/common/bg_testimonial.jpg);
  padding: 60px 0;
}

section.guide {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: -100px;
}

section.advantages {
  background-color: #fbfbfb;
  padding: 60px 0;
  margin: 70px 0;
}

section.collection {
  padding-bottom: 60px;
}

section.testimonial {
  background: url(img/common/bg_testimonial.jpg);
  padding: 50px 0 60px;
  margin: 0 90px;
}
section.blog {
  padding: 60px 0;
}

section.community {
  padding: 30px 0 60px;
}

.guide__content {
  color: #707070;
  font-size: 14px;
  margin: 3rem;
}

.brand__img1 {
  padding-right: 200px;
}

.advantage-item__title {
  color: #333;
  font-size: 18px;
  margin: 40px 0 15px 0;
  font-weight: 700;
}

.community__text,
.blog-item__text,
.testimonial__description,
.advantage-item__description {
  color: #707070;
  font-size: 14px;
}

/* colection color-list */
ul.color-list {
  display: flex;
  justify-content: center;
  padding: 0;
}
li.li-medium-light {
  background-color: #f2c8b2;
  width: 25px;
  height: 25px;
  margin: 0 5px;
}
li.li-bright-light {
  background-color: #ffe9de;
  width: 25px;
  height: 25px;
  margin: 0 5px;
}
li.li-brown {
  background-color: #a86f52;
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.new-tag {
  background-color: #427a1e;
  color: #fff;
  padding: 5px 30px;
  font-weight: bold;
}

.sale-tag {
  background-color: #f4584b;
  color: #fff;
  top: 10px;
  padding: 5px 10px;
  font-weight: bold;
}


.testimonial__description > p {
  padding: 0 9rem;
}
.testimonial__author {
  color: #333;
  font-weight: bold;
}
.testimonial__dot > ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 3rem;
}

div.carousel-inner {
  padding-bottom: 50px;
}



.blog-item {
  padding: 0 30px;
}

.blog-item__title {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 15px;
}
.blog-item__author {
  font-size: 14px;
  margin: 15px 0 15px;
}
.blog-item__author-name {
  color: #707070;
  font-weight: bold;
}

.blog-item__link {
  color: #707070;
  font-size: 14px;
}

p.community__text {
  padding: 0 9rem;
}

.community__organ-title > p {
  margin-right: 35rem;
  margin-left: 35rem;
  background-color: #333;
  color: white;
  padding: 10px 0;
}

div.community__img-list > div {
  padding: 0;
  margin: 0;
}

section.community > img {
  width: 100%;
}
div.community__img > img {
  max-width: 100%;
  height: auto;
}
/* .community__img:hover {
  box-shadow: #427a1e;
} */

.copyright-nav {
  font-size: 14px;
  padding: 30px 400px 0px 400px;
}

.copyright__content {
  color: #707070;
  font-size: 13px;
}

.shot-line {
  height: 1.5px;
  background-color: #c5c5c5;
  margin: 20px auto;
}
.a-link {
  text-decoration: none;
  color: #707070;
}
.a-link:hover {
  color: #c5c5c5;
}

